img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1{
    text-align: center;
}

div{
    text-align: center;
}

iframe
{
 width: 450px;
  height: 400px;  
    
}

button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}footer,header,section{display:block}audio:not([controls]) {display:none;height:0}html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}a{background:transparent}a:focus{outline:0}a:active,a:hover{outline:0;text-decoration:none}h1{font-size:2em;margin:.67em 0}strong{font-weight:bold}svg:not(:root) {overflow:hidden}input{font-family:inherit;font-size:100%;margin:0}input{line-height:normal}input::-moz-focus-inner{border:0;padding:0}*{-webkit-transition:all .5s ease;-moz-transition:all .5s ease;-o-transition:all .5s ease}html,body{height:100%;font-size:15px;color:#333}header .fa{font-size:200%;margin:0 20px}a.fa{color:#666;font-weight:100;text-decoration:none}section{min-height:70%;text-align:center;vertical-align:middle}h1{font-size:300%;line-height:1em}h1 span{display:block;width:100%;color:#666;margin-bottom:30px;font-size:150%!important}.navbar{background-color:#3b5998;border-bottom:1px solid #133783}.navbar{margin-bottom:20px;overflow:visible}.navbar-fixed-top{padding-top:20px;height:69px}.container{margin-left:10px}.container{margin-right:auto;margin-left:auto}.container{margin-left:10px}.navbar-header a:hover,.navbar-right a:hover{color:#222;text-decoration:none}#share_fb{margin-left:0}footer{margin-top:40px;min-height:15%;background-color:#e5e5e5}footer div,.align{vertical-align:middle}footer .last{padding-bottom:10px}iframe{position:absolute;left:-9999px}footer a{color:#666;font-size:16px}footer a:hover,footer .fa:hover{text-decoration:none;color:#000}footer .row{padding-top:18px}.row{margin-right:0!important;margin-left:0!important}@media (max-width:768px){h1{font-size:24px!important}h2{font-size:22px!important}header .fa{font-size:20px!important}header .fa{display:inline-block!important}.navbar-right{display:none}footer a{font-size:14px}#share_fb{margin-left:10px}.navbar-fixed-top{height:60px}}@media (max-width:320px){header .fa{font-size:15px!important;margin:0 15px 0 17px}}.alarm-top{padding-top:89px}